<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>427784202719-483nup1t5dj1epuj632m6v3cuug3443k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427784202719-483nup1t5dj1epuj632m6v3cuug3443k</string>
	<key>API_KEY</key>
	<string>AIzaSyDMYxCXYr4rcSsB2ghRmkPmbwBA6FTm9Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>427784202719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsoslow.Rainmaker</string>
	<key>PROJECT_ID</key>
	<string>rainmaker-62bdd</string>
	<key>STORAGE_BUCKET</key>
	<string>rainmaker-62bdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427784202719:ios:ea4c7301db2d3cde</string>
	<key>DATABASE_URL</key>
	<string>https://rainmaker-62bdd.firebaseio.com</string>
</dict>
</plist>